[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pyroute2 = "==0.5.15"
nose = "==1.3.7"
psycopg2 = "==2.7.5"

[dev-packages]

[requires]
python_version = "3.6"
