/* General */

h1,h2,.rst-content .toctree-wrapper p.caption,h3,h4,h5,h6,legend {
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif !important;
}

.rst-content span.highlighted {
  background: #FFC;
}

.btn-fat {
  padding: 1em !important;
}

.btn {
  border: 1px solid #404040;
}

#search-results .context {
  color: #404040 !important;
}

a {
  color: #2678AF;
}

a.skiplink {
  color: #757575;
  margin-bottom: 0;
}

.wy-menu-vertical li.current {
  border-left: 2px solid;
}

.wy-menu-vertical li.current a {
  color: #656565;
}

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  color: #555;
  z-index: 1;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a {
  color: #4b4b4b;
}

.wy-menu-vertical li span.toctree-expand {
  color: #b3b3b3;
}

.wy-table-odd a, .wy-table-striped tr:nth-child(2n-1) a, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) a {
  color: #2575AB;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  color: #606060;
}

.wy-alert.wy-alert-info .wy-alert-title, .rst-content .note .wy-alert-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .rst-content .note .admonition-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .seealso .admonition-title, .rst-content .wy-alert-info.admonition-todo .admonition-title {
  background: #277BB3;
}

.wy-alert.wy-alert-warning .wy-alert-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .attention .wy-alert-title, .rst-content .caution .wy-alert-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .admonition-todo .wy-alert-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .attention .admonition-title, .rst-content .caution .admonition-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .warning .admonition-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .admonition-todo .admonition-title {
  background: #B25E14;
}

div.admonition.note a {
  color: #2473A7;
}

/* version picker */

.rst-versions .rst-other-versions {
  color: #d9d9d9 !important;
}

.rst-other-versions a {
  color: #fcfcfc !important;
}

/* code blocks */

.highlight .c1, .highlight .cm {
  color: #3F7D8C !important;
}

.highlight .gp {
  color: #BD5A08 !important;
}

.highlight .nc, .highlight .nn {
  color: #0D7EAF !important;
}

.highlight .no {
  color: #2C7DA9 !important;
}

.highlight .nv {
  color: #B045CD !important;
}

.highlight .si {
  color: #3B7AB8 !important;
}

/* Side menu customization */

.wy-menu-vertical header, .wy-menu-vertical p.caption {
  color: #eee;
}

.wy-side-nav-search {
  background-color: #2473A7;
}

.wy-side-nav-search > div.version,
.wy-side-nav-search > a.icon-home {
  color: white !important;
}

/* override table width restrictions */

@media screen and (min-width: 767px) {
  .wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
    this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}

/* Mobile dropdown */

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown > a.homepage {
  display: block; /* prevent inlining of logo */
}

/* Remove ads */

div.wy-menu.rst-pro {
  display: none !important;
}

/* Footer */

footer {
  color: #404040 !important;
}

footer span.commit code {
  color: #404040 !important;
}

/* Cookie consent */

#consentBox {
  border-radius: 1em 1em 0 0;
  padding: 1.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999999999;
  width: 450px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, .9);
  color: #e7e7e7;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  overflow: hidden;
  letter-spacing: 0.02em;
  line-height: 1.4;
  box-shadow: 0 0 0 #239f49, 0 0 10px #239f49;
}
@media screen and (min-width: 480px) {
  #consentBox {
    margin: 0 1em;
  }
}
#consentBox .consent-text {
  padding-left: 2.5em;
  position: relative;
}
#consentBox .consent-text a {
  text-decoration: underline;
}
#consentBox .consent-text:before {
  content: "i";
  font-size: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  text-align: center;
  border: #e7e7e7 1px solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-style: italic;
  font-weight: 400;
  box-sizing: border-box;
}
#consentBox .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #239f49;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 1.125em 3em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
#consentBox .btn:hover {
  background-color: #2cc95c;
  color: #ffffff;
  outline: none;
}
#consentBox .consent-button {
  margin-top: 1.5em;
  padding-left: 2.5em;
}
#consentBox p:last-of-type {
  margin-bottom: 0;
}

#consentBox .consent-text a { color: #239f49; transition: color .2s ease; }
#consentBox .consent-text a:hover, #consentBox .consent-text a:focus { color: #2cc95c; }
#consentBox .consent-text a:visited { color: #239f49; }
#consentBox .consent-text p { font-size: inherit; line-height: inherit; }
