name: Build Package

env:
  TRAVIS: "true"
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

  workflow_dispatch:

env:
  CITUSVERSION: 10.1

jobs:
  build_package:
    name: Run test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        PGVERSION:
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
        TEST:
          - multi
          - single
          - monitor
          - ssl
          - citus
        include:
          - PGVERSION: 14
            TEST: tablespaces
          - PGVERSION: 14
            TEST: linting
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set environment variables
        run: |
            echo "PGVERSION=${{ matrix.PGVERSION }}" >> $GITHUB_ENV
            echo "TEST=${{ matrix.TEST }}" >> $GITHUB_ENV
            echo "LINTING=${{ matrix.LINTING }}" >> $GITHUB_ENV
            echo "TRAVIS_BUILD_DIR=$(pwd)" >> $GITHUB_ENV

      - name: Clone and install linting tools
        run: |
          sudo apt-get install python3-pip
          pip3 install --user black
          black --version
          gcc --version
          git clone -b v0.8.19 --depth 1 https://github.com/citusdata/tools.git ../tools
          sudo make -C ../tools install
          install_uncrustify
          rm -rf uncrustify*

      - name: Run Test
        timeout-minutes: 15
        run: |
          make ci-test
