name: Run Tests

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

  workflow_dispatch:

jobs:
  run_tests:
    name: Run test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        PGVERSION:
          - 13
          - 14
          - 15
          - 16
          - 17
        TEST:
          - multi
          - single
          - monitor
          - ssl
          - citus
          - linting
        include:
          - PGVERSION: 14
            TEST: tablespaces
          - PGVERSION: 14
            TEST: linting
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set environment variables
        run: |
            echo "PGVERSION=${{ matrix.PGVERSION }}" >> $GITHUB_ENV
            echo "TEST=${{ matrix.TEST }}" >> $GITHUB_ENV
            echo "LINTING=${{ matrix.LINTING }}" >> $GITHUB_ENV
            echo "TRAVIS_BUILD_DIR=$(pwd)" >> $GITHUB_ENV

      - name: Clone and install linting tools
        if: ${{ env.TEST == 'linting' }}
        run: |
          sudo apt-get install python3-pip
          pip3 install --user black
          black --version
          gcc --version
          # Install uncrustify the Citus way
          make -C ci -f tools.mk tools

      - name: Check code formatting and banned function
        if: ${{ env.TEST == 'linting' }}
        run: |
          make lint

      - name: Build documentation
        if: ${{ env.TEST == 'linting' }}
        run: |
          make build-docs

      - name: Build Docker Test Image
        if: ${{ env.TEST != 'linting' }}
        run: |
          make build-test-image

      - name: Run Test
        if: ${{ env.TEST != 'linting' }}
        timeout-minutes: 15
        run: |
          make ci-test
